{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <h2 class="index-h2">
        Welcome to the Exchange Rate App
    </h2>
    <br>
    <button type="button" class="btn btn-warning" id="powerbi">Power Bi Dashboard</button>
    <button type="button" class="btn btn-primary" id="exchange">Display Exchange Rates</button>
    <br>
    <br>
    <div class="alert alert-info alert-dismissable" id="powerbi-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        This feature is not available in this release.
    </div>
</div>
{% endblock %}