.form-group{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 25%;
  }

.index-h2{
    border-style: dotted;
    text-align: center;
    border-radius: 5%;
    border-color: cadetblue;
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
  }

#powerbi-info{
  display: none;
}